/* || General styling */

:root {
    --standard-border: 2px;
    --bubble-font-size: 14px;

    --hide-panel-length: 500ms;

    --titlebar: rgb(102, 97, 117);
    --accent: rgb(217, 215, 215);
    --background: rgb(254, 250, 241);
    --surface: rgb(205, 208, 217);
    --alt: rgb(111, 112, 115);
    --bubble-text: rgb(221, 211, 235);
    --text: rgb(77, 79, 103);
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    background-color: var(--base);
    color: var(--text);
    font-family: "Baskervville", serif;
}

.titlebar {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 5em;
    background-color: var(--titlebar);
    color: var(--accent);
    font-style: italic;
}

.titlebar a {
    color: inherit;
}

.titlebar h1 {
    margin: auto 0.5em;
}

.titlebar p {
    margin: auto 1.5em;
}

.page-content {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/* || Panels */

#stats-panel {
    flex: 1;
    border-right: solid black 2px;
    padding: 1em;
    background-color: var(--accent);
    text-align: center;
}

#stats-panel h1 {
    text-decoration: underline 4px;
}

#settings-panel {
    position: relative;
    flex: 1;
    transition: transform var(--hide-panel-length) ease-out;
    padding: 1em;
    border-left: solid black 2px;
    background-color: var(--accent);
}

#settings-panel.hidden {
    transform: translateX(100%);
}

#settings-panel :is(h1, h2) {
    text-align: center;
}

#settings-panel h1 {
    text-decoration: underline 4px;
}

#settings-panel span {
    margin: 0.5em;
}

#album-settings {
    display: flex;
    flex-direction: column;
}

.musical-setting input[type=number] {
    width: 3em;
}

.settings-buttons {
    display: flex;
}

.settings-buttons button {
    flex: 1;
    margin: 0.5em;
}

#hide-settings {
    --padding: 0.3em;
    --width: 1.8em;

    position: absolute;
    z-index: 1;
    overflow: visible;
    top: 50%;
    left: calc(-1 * var(--width));
    box-sizing: border-box;
    border: var(--standard-border) solid black;
    border-right-style: none;
    border-radius: 5px 0 0 5px;
    padding: var(--padding);
    width: var(--width);
    height: calc(var(--width) * 1.5);
    background-color: inherit;
}

#hide-settings img {
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transition: transform var(--hide-panel-length) ease-out;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

#settings-panel.hidden #hide-settings img {
    transform: rotate(0deg);
}

/* || Main styling */

main {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    background-color: var(--background);
}

#musical-banner {
    width: 40vw;
    object-fit: cover;
    filter: grayscale(60%);
}

#musical-text {
    margin-top: 5%;
    border: solid rgb(127, 127, 127) 2px;
    padding: 1em;
    width: 40vw;
    background-color: var(--surface);
    font-size: 30px;
    font-family: "Hack", monospace;
    color: var(--text);
} 

#musical-holder {
    margin-bottom: 4em;
    width: 50vw;
}

#musical-holder h1 {
    margin-bottom: calc(-1 * var(--standard-border));
    margin-left: 0;
    box-sizing: border-box;
    border: solid var(--alt) var(--standard-border);
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    width: 100%;
    background-color: var(--surface);
    font-size: calc(2 * var(--bubble-font-size));
    text-align: center;
}

.song-bank.flat-top {
    border-radius: 0 0 20px 20px;
}

.song-bank {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    border: solid var(--alt) var(--standard-border);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    background-color: var(--surface);
}

.song-bank button {
    flex: auto;
    transition-duration: 150ms, 150ms;
    transition-property: box-shadow, transform;
    transition-timing-function: ease-in, ease-in;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    padding: 0.5em;
    background-color: var(--alt);
    font-size: var(--bubble-font-size);
    font-weight: bold;
    text-align: center;
    color: var(--bubble-text);
}

.song-bank button:hover {
    transform: scale(1.2);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0.25em;
    font-size: 18px;
    text-align: center;
    color: black;
}

footer a {
    color: inherit;
}
