/* || General styling */

:root {
    --thick-border: 5px;
    --bubble-font-size: 14px;

    --base: #eff1f5;
    --surface: #ccd0da;
    --text: #4c4f69;
    --highlight-color: #8839ef;
    --overlay: #9ca0b0;
    --crust: #dce0e8;
}

body {
    margin: 0;
    background-color: var(--base);
    color: var(--text);
    font-family: "Lexend", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* || Titlebar styling*/

.titlebar {
    display: flex;
    justify-content: space-between;
    background-color: var(--crust);
    margin: 0;
    height: 5em;
    width: 100%;
    box-shadow: 0px 0px 10px 5px var(--crust);
}

.titlebar h1 {
    margin: auto 0.5em;
}

.titlebar p {
    margin: auto 1.5em;
}

.titlebar a {
    color: inherit;
}

/* || Page layout styling */

.page-content {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    height: 100%;
}

#stats-panel {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: var(--crust);
}

#settings-panel {
    flex: 1;
    padding: 1em;
    background-color: var(--crust);
}

#settings-panel span {
    margin: 0.5em;
}

#settings-panel :is(h1, h2) {
    text-align: center;
}

#album-settings {
    display: flex;
    flex-direction: column;
}

.musical-setting input[type=number] {
    width: 3em;
}

.settings-buttons {
    display: flex;
}

.settings-buttons button {
    margin: 0.5em;
    flex: 1;
}

/* || Main styling */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 3em;
}

#musical-text {
    background-color: var(--surface);
    border: solid rgb(127, 127, 127) 2px;
    font-size: 30px;
    margin-top: 5%;
    width: 40vw;
    padding: 1em;
} 

.song-bank {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: solid black var(--thick-border);
    width: 100%;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    background-color: var(--surface);
}

.song-bank button {
    margin: 5px;
    color: var(--highlight-color);
    background-color: var(--overlay);
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
    flex: auto;
    border: 0;
    font-weight: bold;
    font-size: var(--bubble-font-size);
    transition-property: box-shadow, transform;
    transition-duration: 150ms, 150ms;
    transition-timing-function: ease-in, ease-in;
}

.song-bank button:hover {
    transform: scale(1.2);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

#musical-holder h1 {
    box-sizing: border-box;
    border: black solid var(--thick-border);
    margin-bottom: calc(-1 * var(--thick-border));
    margin-left: 0;
    width: 100%;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    background-color: var(--surface);
    font-size: calc(2 * var(--bubble-font-size));
}

#musical-holder {
    width: 50vw;
}
